@import url('https://fonts.googleapis.com/css?family=Monoton');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*Clear Fix--------------------*/
/*.group:after {
  content: "";
  display: table;
  clear: both;
}
*/

body {
	background-color: #7D7D7D;
	font-family: 'Monoton', cursive;
}

.container {
	display: flex;
	justify-content: center;
}

.sign {
	background-color: #000;
	border: 5px solid red;
	border-radius: 10px;
	margin-top: 200px;
}

.open {
	color: #FF0000;
	font-size: 3em;
	opacity: .3;
	padding: 15px 25px;
}

.welcome {
	color: #7D7D7D;
	font-size: 3em;
	opacity: .3;
	padding: 15px 25px;
}

a {
	text-decoration: none;
}
